.env

# Binaries and build artifacts
/bin/
/build/
/out/
/dist/
/target/
*.exe
*.dll
*.so
*.dylib
*.bin
*.o
*.obj
*.a
*.lib
*.class
*.pyc
*.pyo
*.pyd
*.jar
*.war
*.ear
/tmp

# Go build Binaries
api
.serena/
